---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blogs | Kabeer Arora">
  <main class="w-full h-[70vh]">
    <section class="flex flex-col items-center justify-center w-full h-full">
      <h1 class="text-4xl font-bold">Blogs</h1>
      <p class="text-lg mt-4">Coming Soon...</p>
    </section>
  </main>
</Layout>
