---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kabeer Arora | Portfolio">
  <main>
    <!-- Hero Section -->
    <section class="pt-36">
      <div class="w-[80px] h-[80px] bg-gray-300 rounded-full"></div>
      <h1 class="text-2xl py-4">I am an expert in making mistakes</h1>
      <p class="text-md text-justify opacity-60">
        Hey there! I'm your friendly neighborhood programmer a.k.a. <strong
          >Kabeer Arora</strong
        >, always pushing the boundaries of web development. By day, I'm a
        full-stack programming superhero; by night, I'm a code wizard cooking up
        my next big project. On top of that, I'm currently immersing myself in
        the realm of cybersecurity, focusing on penetration testing and red
        teaming. Dive into my portfolio, and witness the extent of my
        capabilities!
      </p>
      <a href="/about"></a>
    </section>
  </main>
</Layout>

<!--  #8c97c8 -->
