---

---

<header class="w-full h-[10vh] grid grid-cols-4">
  <section class="flex items-center justify-start">
    <h1 class="text-2xl font-bold">kabeer.</h1>
  </section>
  <section class="col-span-2 flex items-center justify-evenly">
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
  </section>
  <section class="flex items-center justify-evenly">
    <a href="/github">Github</a>
    <a href="/linkedin">LinkedIn</a>
  </section>
</header>
